[Unit]
Description=BGBilling Server
After=network.target,mysql.service,activemq.service
Requires=mysql.service,activemq.service

[Service]
Type=forking
ExecStartPre=/opt/bgbilling/BGBillingServer/script/wait-for.sh 127.0.0.1:3306 -t 60
ExecStart=/opt/bgbilling/BGBillingServer/server.sh start
ExecStop=/opt/bgbilling/BGBillingServer/server.sh stop

[Install]
WantedBy=multi-user.target