[Unit]
Description=BGScheduler Server
After=network.target,mysql.service,activemq.service
Requires=mysql.service,activemq.service

[Service]
Type=forking
ExecStartPre=/opt/bgbilling/BGBillingServer/script/wait-for.sh 127.0.0.1:3306 -t 60
ExecStart=/opt/bgbilling/BGBillingServer/scheduler.sh -estart
ExecStop=/opt/bgbilling/BGBillingServer/scheduler.sh -estop

[Install]
WantedBy=multi-user.target